# Object files
*.o

# Kernel Modules file
*.ko
*.cmd
*.mod
*.symvers
*.order
*.mod.c
*.mod.o
*.tmp*
*.tmp_versions

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#tarball
*.tar.gz
*.tar.bz2
*.tar

#tmp file
*.tmp


#images file
*.tar
*.ubifs
*.cpio
*.ext2
*.ext3
*.bin
#file dir
*outputs/*

/output
/dl
/.auto.deps
/.config.cmd

*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~







